[submodule "sources/pnpm"]
	path = sources/pnpm
	url = https://github.com/pnpm/pnpm.io
[submodule "sources/jecs"]
	path = sources/jecs
	url = https://github.com/Ukendio/jecs
[submodule "vendor/humanizer"]
	path = vendor/humanizer
	url = https://github.com/blader/humanizer
[submodule "sources/roblox-ts"]
	path = sources/roblox-ts
	url = https://github.com/roblox-ts/roblox-ts.com
[submodule "vendor/superpowers"]
	path = vendor/superpowers
	url = https://github.com/obra/superpowers
[submodule "sources/superpowers"]
	path = sources/superpowers
	url = https://github.com/obra/superpowers
[submodule "sources/jest"]
	path = sources/jest
	url = https://github.com/Roblox/jest-roblox
[submodule "sources/ecs-faq"]
	path = sources/ecs-faq
	url = https://github.com/SanderMertens/ecs-faq
[submodule "sources/flecs"]
	path = sources/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "sources/jest-extended"]
	path = sources/jest-extended
	url = https://github.com/christopher-buss/rbxts-jest-extended
